
#root {
  /* max-width: 1500px; */
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em rgb(181, 14, 14));
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em rgb(51, 165, 51));
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.spotify_logo:hover {
  cursor: pointer;
  filter: drop-shadow(0 0 2em rgb(51, 165, 51));
}

.youtube_logo:hover {
  cursor: pointer;
  filter: drop-shadow(0 0 3em rgb(181, 14, 14));
}


#row1 {
  margin-top: 4em;
  margin-bottom: 2em;
}

#description{
  white-space: pre-wrap;
  background-color: rgb(70, 69, 69);
  width: 60em;
  display: flex; 
  flex-direction: column; 
  justify-content: center; /* Center vertically */
  align-items: center; /* Center horizontally */
  margin-bottom: 40px; 
  color: white; 
  padding: 20px; 
  border-radius: 100px;
  height: 20em; 
  margin-left: 8em;
}


.right_arrow_step1 {
  width: 10em;
}
#authorization {
  width: 60em;
  background-color: rgb(70, 69, 69);
  height: 20em; 
  margin-right: 8em;
  display: flex; 
  flex-direction: column; 
  justify-content: center;
  border-radius: 100px;
  
}

#auth_header {
  font-size: 2.2em;
  color: white;
  
}

.spotify_logo {
  width: 150px;
}

.youtube_logo {
  width: 200px;
}

.container-fluid .row {
  display: flex;
  justify-content: center;
  align-items: center; 
}


.container-fluid .row #youtube-spotify.col{
  display: flex;
  align-items: center;
  
}

.container-fluid .row #name-github.col {
  display: flex;
  justify-content: flex-end; 
  align-items: center; /
}

.yt_name_logo {
  width: 180px;
  display: inline;
  margin-left: 15em;
  /* margin-right: 10px; */
}

.spotify_name_logo {
  width: 200px;
  display: inline;
}

.githublogo {
  width: 130px;
  margin-right: 15em;

}

.my_name {
  margin-left: auto;
  display: inline;
  font-size: 40px;
  color: white;
  margin-right: 3em;
}


.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

.input-box {
  display: flex;
  margin: auto;
  margin-bottom: 5px;
  width: 500px;
  height: 30px;
  font-size: 25px;
  color: aqua;
  margin-top: 30px;
}

.subtitle {
  padding-top: 25px;
}


.right_arrow_logo {
  width: 140px;
}

.githublogo:hover {
  filter: drop-shadow(0 0 2em white);
}

.playlistname-box {
  margin-top: 1.5em;
  margin-bottom: 1.2em;
  height: 3em;
  width: 28em;
  
}

.playlistdesc-box {
  width: 28em;
  height: 3em
}

#playlist-elements {
  margin-bottom: 3em;
}


#converting-ui {
  width: 10em;
  background-color: rgb(70, 69, 69);
  height: 20em; 
  margin-right: 8em;
  display: flex; 
  flex-direction: column; 
  justify-content: center;
  border-radius: 100px;
}



